.slider-wrapper {
  height: 100vh;
  background-color: #070136;
}

.image-container {
  background-color: #a2badf;
  height: 100vh;
  max-width: 65%;
  margin: 0 auto;
 /*text-align: center;*/
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
  
  width: 500%;
  padding: 50px;
  position: relative;
  transition: left 2s;
}

.slide {
  height: 80vh;
  max-width: 100%;
  padding: 0 210px;
  margin-left: 0;
  margin-right: 250px;
}

.text {
  padding: 0 50px;
  color: #000000;
  font-family: Comic Sans MS, serif;
  font-size: 2.9em;
}

.controls {
  position: relative;
  top: -170px;
  left: 75%;
  margin-right: 50px;
}
.controls-button {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: 3px solid #070136;
  background-color: #ffffff;
}

#mem-1:target ~ .slides-wrapper {
  left: 0px;
}

#mem-2:target ~ .slides-wrapper {
  left: -1120px;
}

#mem-3:target ~ .slides-wrapper {
  left: -2350px;
}

#mem-4:target ~ .slides-wrapper {
  left: -3590px;
}

#mem-5:target ~ .slides-wrapper {
  left: -4880px;
}